/* B */

/* border */
.b-s {
    border: solid;
}
.b-w {
    border-width: thin;
}
.border-box {
    box-sizing: border-box;
}
.bb-color {
    background-color: #d3d3d3
}
.bg-dig {
    background-image: repeating-linear-gradient(
    45deg, rgb(230, 104, 104), rgb(230, 104, 104) 15px, white 15px, white 25px)    
}
.bg-dig2 {
    background-image: repeating-linear-gradient(
    -45deg, rgb(230, 104, 104), rgb(230, 104, 104) 15px, white 15px, white 25px)    
}
.bg-salmon {
    background: rgb(230, 104, 104);
}
.button-retro{
    box-sizing: border-box;
    border: 2px solid #04049d;
    height: 5%;
    width: 5%;
    /* left: 0 px;
    top: 0 px; 
    border: 2px solid #04049d; */
}

/* C */

/* flex box */
.center {
    justify-content: center;
}
.content {
    min-height: calc(100vh - 70px);
}

/* D */

/* flexbox */
.d-f {
    display: flex;
}

/* F */

/* fonts */
.fpo {
    font-family: 'Poiret One', sans-serif;
}
.fb {
font-family: 'Bangers', cursive;
}
.fs-100px {
    font-size: 6.25rem; 
}
.fs-20px {
    font-size: 1.25rem;
}
.fs-25px {
    font-size: 25px;
}
.fs-45px {
    font-size: 2.5rem;
}
.f-retro {
        /* color: #097487; */
        color: #556B2F;
        font-size: 5rem;
        letter-spacing: 20px;
        text-shadow: 0 0 #f7f4ea, 2px 2px 0 #f7f4ea, 3px 3px 0 #f7f4ea, 4px 4px 0 #f7f4ea, 5px 5px 0 #f7f4ea, 6px 6px 0 #f7f4ea, 7px 7px 0 #f7f4ea, 8px 8px 0 #f7f4ea, 9px 9px 0 #f7f4ea, 10px 10px 0 #f7f4ea, 11px 11px 0 #f7f4ea, 12px 12px 0 #f7f4ea, 13px 13px 0 #f7f4ea, 14px 14px 0 #f7f4ea, 15px 15px 0 #f7f4ea, 0 0 #022d62, 15px 15px 0 #022d62, 16px 16px 0 #022d62, 17px 17px 0 #022d62, 18px 18px 0 #022d62, 19px 19px 0 #022d62, 20px 20px 0 #022d62, 21px 21px 0 #022d62, 22px 22px 0 #022d62, 23px 23px 0 #022d62, 24px 24px 0 #022d62, 25px 25px 0 #022d62, 26px 26px 0 #022d62, 27px 27px 0 #022d62, 28px 28px 0 #022d62, 29px 29px 0 #022d62, 30px 30px 0 #022d62;
      
}

/* flex box */
.f-e {
    justify-content: flex-end;
}
.flex-end {
    justify-content: flex-end;
}

/* footer */
.foot {
    height: 50px;
}

/* I */

/* icons */
.icons {
    width:2em;
    height:2em;
}
.images {
    height: 230px; 
    width: 153px; 
}

/* M */

/* margin */
.mt-20px {
    margin-top: 20px;
}
.mb-20px{
    margin-bottom: 20px;
}
.mb-40px {
    margin-bottom: 40px; 
}
.mb-500px{
    margin-bottom: 500px
}
.ml-20px {
    margin-left: 20px;
}
.ml-a {
    margin-left: auto;
}
.mr-20px {
    margin-right: 20 px;
}
.mr-a {
    margin-right: auto;
}
.mt-100px {
    margin-top: 100px;
}

/* P */

/* padding */

.pad-15px {
    padding: 0px 15px 0 0;
}
.pad-20px {
    padding: 20px 0 0 0;
}
.pad-40px {
    padding: 40px 0 0 0;
}
.pad-30px {
    padding: 30 30 30 30;
}

/* position */
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}

/* O */

.op:hover{
    opacity: 0.5;
}
.op-50 {
    opacity: 0.5;
}


/* S */

/* flexbox */
.s-i {
    justify-content: space-between;
}
.s-i {
    justify-content: space-between;
}

/* R */

.resume {
    width:20.5em;
    height:28em;
}

/* T */

.t-a-r{
    text-align: right;
}
.t-a-c {
    text-align: center;
}

/* W */


/* width */
.w-100px {
    width: 100px 
}
.w-100px {
    width: 100px;
}
.w-175px {
    width: 175px;
}
.w-700px {
    width: 700px;
}
.w-100per {
    width: 100%;
}

/* Z */

.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}

/* Animation */

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 20s linear infinite; 
  }
  
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

/* media queries */

@media screen and (max-width: 980px) {

    .box {
        height: 400px;
        width: 500px;
    }
    .image {
        height: 200px;
        width: 300px;
    }
    .ml-40px {
        margin-left: 40px;
    }
    .mr-40px {
        margin-right: 40px;
    }


  }

@media screen and (max-width: 768px) {

    .fs-1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 640px) {

    .fs-30px {
        font-size: 1.8em;
    }
    .fxd-c {
        flex-direction: column;
    }
    .h-725px {
        height: 725px;
    }
    .hide {
        visibility: hidden;
    }
    .mb-20px {
        margin-bottom: 20px;
    }
    .mt-200px {
        margin-top: 200px;
    }
    .pad-b {
        padding-bottom: 40px;
    }
    .pad-t {
        padding-top: 20px;
    }
    .pad-l {
        padding-left: 150px;
    }
    .resume-sm {
        width: 18.63em;
        height: 21.54em;
    }
    .tac {
        text-align: center;
    }
    .w-640px {
        width: 640px;
    }
    .w-500px {
        width: 500px;
    }
    
}