<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pocket Ghibli - Pick a Flick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
</head>
<body class="bg-pickaflick font cursor-custom">
    <div>
        <div id="background">
                <div class="d-i hide-768 hide-480">
                        <img src="./images/studiog.png"/>
                        <span class="header-main">MOVIE QUIZ</span>
                    <!-- end of header -->
                    </div>
            <div class="js-flick">
                <!-- can make this entire div hide / appear as needed with the js-pickaFlick and js-box-flick class -->
                <div class="js-box-flick ma mt-20px box box-shadow pos-r z-index-1"> 
                    <div class="js-pickaFlick">

                            <div id="app2" v-cloak>

                                    <div class="row">
                                      <div class="large-12 columns">
                                        <h1 class="fs-25px f-bold mb-20px">{{ quiz.title }}</h1>
                                  
                                        <div class="callout">
                                  
                                          <div v-for="(question, index) in quiz.questions">
                                            <!-- Hide all questions, show only the one with index === to current question index -->
                                            <div v-show="index === questionIndex">
                                              <h3>{{ question.text }}</h3>
                                              <ol>
                                                <!-- for each response of the current question -->
                                                <li v-for="response in question.responses">
                                                  <label>
                                                                      <input type="radio"
                                                                             v-bind:value="response.value"
                                                                             v-bind:name="index"
                                                                             v-model="userResponses[index]"> {{response.text}}
                                                                    </label>
                                                </li>
                                  
                                              </ol>
                                              <!-- The two navigation buttons -->
                                              <!-- Note: prev is hidden on first question -->
                                              <button class="secondary button" v-if="questionIndex > 0" v-on:click="prev">
                                                      prev
                                                    </button>
                                              <button class="success button" v-on:click="next">
                                                      next
                                                    </button>
                                            </div>
                                          </div>
                                  
                                          <!-- Last page, quiz is finished, display result -->
                                          <div v-show="questionIndex === quiz.questions.length">
                                            <h3>Your Results</h3>
                                            <p>
                                              You should watch: {{ score() }}
                                            </p>
                                          </div>
                                  
                                        </div>
                                  
                                      </div>
                                    </div>
                                  
                                  </div>


                    </div>
                </div>
                <!-- end of wrapping div -->
            </div>
            <div class="resetDiv height10vh">
                <button class="js-resetDiv">Main Menu</button>
                <img src="./images/moviedb.svg" height="40px" width="40px" class="ml-75"/>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>