<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pocket Ghibli - Spirit Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="bg-spiritquiz cursor-custom">
    <div class="font ml-100-sm">
            <!-- header -->
            <div class="d-i hide-768 hide-480">
                <img src="./images/studiog.png"/>
                <span class="header-main">CREATURE QUIZ</span>
            <!-- end of header -->
            </div>
            <!-- Spirit Quiz -->
            <!-- wrapping div -->
            <div class="js-spirit">
                <!-- div to wrap spirit quiz and style box behind it -->
                <div class="js-box-spirit ma mt-20px box box-shadow pos-r z-index-1">
                    <div class="js-spiritQuiz">
                        <div id="app" v-cloak>
                            <h1 class="fs-25px f-bold mb-20px">{{ quiz.title }}</h1>
                            <div class="callout">
                                <div v-for="(question, index) in quiz.questions">
                                    <!-- Hide all questions, show only the one with index === to current question index -->
                                    <div v-show="index === questionIndex">
                                        <h3>{{ question.text }}</h3>
                                            <ol>
                                                <!-- for each response of the current question -->
                                                <li v-for="response in question.responses">
                                                    <label>
                                                        <input type="radio"
                                                            v-bind:value="response.value"
                                                            v-bind:name="index"
                                                            v-model="userResponses[index]"> {{response.text}}
                                                    </label>
                                                </li>
                                            </ol>
                                            <!-- The two navigation buttons -->
                                            <!-- Note: prev is hidden on first question -->
                                        <button class="secondary button" v-if="questionIndex > 0" v-on:click="prev">
                                            prev
                                        </button>
                                        <button class="success button" v-on:click="next">
                                            next
                                        </button>
                                    </div>
                                </div>
                                    <!-- Last page, quiz is finished, display result -->
                                <div v-show="questionIndex === quiz.questions.length">
                                    <h3>Your Results</h3>
                                    <p>
                                        You are: {{ score() }}
                                    </p>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <!-- end of div that hold box / background -->
                </div>
                <!-- end of wrapping div for spirit quiz -->
            </div>
            <div class="resetDiv height10vh">
                <button class="js-resetDiv">Main Menu</button>
                <img src="./images/moviedb.svg" height="40px" width="40px" class="ml-75"/>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script> 
</body>
</html>